
<div class="form-container" id="edit-form">
<div class="form-inner-container">

<%= render 'form', store: @store, title: "Edit Product" %>

</div>
<div class="btn-container">
<%= link_to 'Show', @store, class: "submit_btn" %> 
<%= link_to 'Back', stores_path, class: "submit_btn" %>
</div>
</div>