<div class="form-container">
<div class="form-inner-container">
<%= render 'login', login:"/users/sign_in" %>
<div class="image_container">
<%= image_tag https://images.unsplash.com/photo-1676487030430-6cad55c86e8c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyNjJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=700&q=60' %>
</div>
</div>
</div>'