/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
  }
  
  body{
    min-height: 100vh;
    justify-content: center;
    
  }
  
  a{
    text-decoration: none;
  }
  
  img, svg{
    width: 100%;
    object-fit: contain;
  }
  label{
       font-weight: bold; 
  }
  input{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #5b13b9;
    outline: none;
  }
  
  .nav-links{
  display: flex;
  gap: 15px;
  }
  .nav-links > div > a{
  color: white;
  }
  
  .search-form{
    width: 200px;
    background-color: transparent;
  }
  .search-form .wrapper-field{
    display: flex;
    justify-content: space-around;
  }
  .wrapper-field > input{
    width: 50px;
  }