// Place all the styles related to the gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#btn {
  padding: 8px;
  width: fit-content;
  border: none;
  background-color: #ff3556;
  color: white;
  border-radius: 5px;
  a {
    text-decoration: none;
    background-color: #ff3556;
    color: white;
  }
}

.button_to {
  width: fit-content;
  padding: 0;
}

.btn-container {
  display: flex;
  gap: 10px;
}
