// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.table-col{
    width: 200px;
    padding: 10px;
}
.store{
    padding: 20px 10px;
    padding-top: 0px;
}
.btn-container{
    display: flex;
    .submit_btn{
        width: fit-content;
        color: white;
    }
}
.table-col{
    width: 200px;
    padding: 10px;
}
    .show-container{
        padding: 10px;
        width: 100%;
        height: fit-content;
        gap: 10px;
        display: flex;
        .product-images{
            flex: 2;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            img{
                width: 320px;
                height: 350px;
                object-fit: cover;
            }
        }
        .product-details{
            flex: 1;
            background-color: #f8f8f8;
            width: 100%;
            border-radius: 10px;
            padding: 20px;
        }
    }

